<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NagoyaMeshi管理者画面</title>
        <meta name="description" content="管理者画面">

        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css">

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/fc00afdc84.js" crossorigin="anonymous"></script>

    </head>
    <body>


        <!-- ヘッダー -->
        <header class="header">
          <div class="header-container">
              <h1><a th:href="@{admin/}">NagoyaMeshi</a></h1>
              <div class="button-container">
                <button class="button" type="button" onclick="location.href='login.html'">ログイン</button>
                <button class="button" type="button" onclick="location.href='new-member-registration.html'">会員登録</button>
              </div>
            </div>
        </header>

        <!-- メイン -->
        <main>
          <!-- admin-top -->
          <div class="contents-container">
            <div class="contents-header">
                <h2>管理者画面</h2>
              </div>
              <!-- 会員情報 -->
              <div class="content-item">
                <div class="title-side">
                  <h3>会員情報</h3>
                </div>
                <div class="item-body">
					
                  	<form method="get" th:action="@{/admin/member}" class="mb-3">
			             <div class="input-group">
			                 <input type="text"  name="keyword" th:value="${keyword}" placeholder="ユーザー名">
			                 <button type="submit" >検索</button> 
			             </div>               
			         </form> 
	         		
                  <div class="button-container">
                    <a th:href="@{admin/member}">
						<button class="button" type="button">一覧</button>
					</a>
                	<a th:href="@{admin/member/register}">    
						<button class="button" type="button">登録</button>
					</a>
                  </div>
                  
                </div>
              </div>
              <!-- 店舗情報 -->
              <div class="content-item">
                <div class="title-side">
                  <h3>店舗情報</h3>
                </div>
                <div class="item-body">
					
					<form method="get" th:action="@{/admin/shop}" class="mb-3">
			             <div class="input-group">
			                 <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名">
			                 <button type="submit" class="btn text-white shadow-sm samuraitravel-btn">検索</button> 
			             </div>               
	         		</form> 
	         		 
                  <div class="button-container">
                    <a th:href="@{admin/shop}">
						<button class="button" type="button">一覧</button>
					</a>
                   <a th:href="@{admin/shop/register}">
					    <button class="button" type="button">登録</button>
				 	</a>
                  </div>
                  
                </div>
              </div>
              <!-- カテゴリー情報 -->
              <div class="content-item">
                <div class="title-side">
                  <h3>カテゴリー情報</h3>
                </div>
                <div class="item-body">
					
                  <form method="get" th:action="@{/admin/category}" class="mb-3">
		             <div class="input-group">
		                 <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="カテゴリー名">
		                 <button type="submit" class="btn text-white shadow-sm samuraitravel-btn">検索</button> 
		             </div>               
       			 </form> 
                  
                  <div class="button-container">
                    <a th:href="@{admin/category}">
						<button class="button" type="button">一覧</button>
					</a>
                    <a th:href="@{admin/category/register}">
						<button class="button" type="button">登録</button>
					</a>
                  </div>
                  
                </div>
              </div>
              <!-- 予約一覧 -->
              <div class="content-item">
                <div class="title-side">
                  <h3>予約一覧</h3>
                </div>
                <div class="item-body">
					
                 	<form method="get" th:action="@{/admin/reservation}" class="mb-3">
			             <div class="input-group">
			                 <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名">
			                 <button type="submit" class="btn text-white shadow-sm samuraitravel-btn">検索</button> 
			             </div>               
	         		</form> 
	         		
                  <div class="button-container">
                    <a th:href="@{admin/reservation}">
						<button class="button" type="button">一覧</button>
					</a>
                  </div>
                  
                </div>
                
              </div>  

            </div>
        </main>

        <!-- フッター -->
        <footer class="footer">
           <p>NagoyaMeshi</p>
           <small>©NagoyaMeshi</small>
        </footer>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        

    </body>
</html>
