<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ShopReservation</title>
        <meta name="description" content="店舗予約">
        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css">

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/fc00afdc84.js" crossorigin="anonymous"></script>

    </head>
    <body>


        <!-- ヘッダー -->
        <header class="header">
          <div class="header-container">
              <h1><a href="">NagoyaMeshi</a></h1>
              <div class="button-container">
                <button class="button" type="button" onclick="location.href='login.html'">ログイン</button>
                <button class="button" type="button" onclick="location.href='new-member-registration.html'">会員登録</button>
              </div>
            </div>
        </header>

        <!-- メイン -->
        <main>
        <!--breadcrumb--> 
        <nav>
          <ol class="breadcrumb">
            <li><a href="/top.html">ホーム</a></li>
            <li><a href="">店舗一覧</a></li>
            <li><a href="">店舗詳細</a></li>
            <li>店舗予約</li>
          </ol>
        </nav>

          <!-- ShopReservation -->
          <div class="contents-container">
              <div class="contents-header">
                <h2>店舗名</h2>
              </div>
              
              <form method="post" th:action="@{/user/reservation/create}" th:object="${ReservationRegisterForm}" enctype="multipart/form-data">
              
              <ul>
                  <li>
                    <label for="date" class="title">予約日時</label>
                    <div th:if="${#fields.hasErrors('reservationDate')}"  th:errors="*{reservationDate}"></div>
                  	<input type="date"  th:field="*{reservationDate}">
                  </li>
                    <li>
                      <label for="test" class="title">予約時間</label>
                        <div th:if="${#fields.hasErrors('reservationTime')}"  th:errors="*{reservationTime}"></div>
                  		<input type="time"  th:field="*{reservationTime}">
                     </li>
                     <li>
                        <label for="test" class="title">人数</label>
                          <div th:if="${#fields.hasErrors('numberOfPeopl')}"  th:errors="*{numberOfPeopl}"></div>
                  		<input type="text"  th:field="*{numberOfPeopl}">
                      </li>
              </ul>

              <div class="button-container">
                <button class="button" type="submit" >予約</button>
              </div>
              
            </form>   
            
            </div>
          </section>
        </main>

        <!-- フッター -->
        <footer class="footer">
           <p>NagoyaMeshi</p>
           <small>©NagoyaMeshi</small>
        </footer>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        

    </body>
</html>
