<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NewMemberRegistration</title>
        <meta name="description" content="新規会員登録">

        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css">

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/fc00afdc84.js" crossorigin="anonymous"></script>

    </head>
    <body>


        <!-- ヘッダー -->
        <header class="header">
          <div class="header-container">
              <h1><a href="">NagoyaMeshi</a></h1>
              <div class="button-container">
                <button class="button" type="button" onclick="location.href='login.html'">ログイン</button>
                <button class="button" type="button" onclick="location.href='new-member-registration.html'">会員登録</button>
              </div>
            </div>
        </header>

        <!-- メイン -->
        <main>
        <!-- new-member -->
            <div class="contents-container">
              <div class="contents-header">
                <h2>新規会員登録</h2>
              </div>

              <ul>
                <li>
                  <span class="title">名前</span>
                  <input type="text" name="" id="">
                </li>
                <li>
                  <span class="title">フリガナ</span>
                  <input type="text" name="" id="">
                </li>
                <li>
                  <span class="title">郵便番号</span>
                  <input type="text" name="" id="">
                </li>
                <li>
                  <span class="title">住所</span>
                  <input type="text" name="" id="">
                </li>
                <li>
                  <span class="title">電話番号</span>
                  <input type="text" name="" id="">
                </li>
                <li>
                  <span class="title">生年月日</span>
                  <input type="text" name="" id="">
                </li>
                <li>
                  <span class="title">メールアドレス</span>
                  <input type="text" name="" id="">
                </li>
                <li>
                  <span class="title">パスワード</span>
                  <input type="text" name="" id="">
                </li>
                <li>
                  <span class="title">パスワード(確認)</span>
                  <input type="text" name="" id="">
                </li>
              </ul>

              <div class="button-container">
                <button class="button" type="button" onclick="location.href=''">登録</button>
              </div>

            </div>
        </main>

        <!-- フッター -->
        <footer class="footer">
           <p>NagoyaMeshi</p>
           <small>©NagoyaMeshi</small>
        </footer>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        

    </body>
</html>
