<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MemberList</title>
        <meta name="description" content="会員一覧">

        <!-- CSS -->
        <link rel="stylesheet" href="../../css/style.css">
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/fc00afdc84.js" crossorigin="anonymous"></script>

    </head>
    <body>


        <!-- ヘッダー -->
        <header class="header">
          <div class="header-container">
              <h1><a href="">NagoyaMeshi</a></h1>
              <div class="button-container">
                <button class="button" type="button" onclick="location.href='login.html'">ログイン</button>
                <button class="button" type="button" onclick="location.href='new-member-registration.html'">会員登録</button>
              </div>
            </div>
        </header>

        <!-- メイン -->
        <main>
        <!--breadcrumb--> 
          <nav>
            <ol class="breadcrumb">
              <li><a th:href="@{admin/}">ホーム</a></li>
              <li>会員一覧</li>
            </ol>
          </nav>
          
          <form method="get" th:action="@{/admin/member}" class="mb-3">
             <div class="input-group">
                 <input type="text"  name="keyword" th:value="${keyword}" placeholder="ユーザー名">
                 <button type="submit" >検索</button> 
             </div>               
         </form> 
             
          <!-- MemberList -->
            <div class="contents-container">
              <div class="contents-header">
                <h2>会員一覧</h2>
              </div>

              <table class="table">
                <thead>
                    <tr>                            
                        <th scope="col">No.</th>
                        <th scope="col">名前</th>
<!--                        <th scope="col"></th>-->
<!--                        <th scope="col"></th>-->
                    </tr>
                </thead> 

                <tbody>                
                      <tr th:each="user : ${userPage}"> 
                        <td th:text="${user.getId()}"></td>
                        <td th:text="${user.getName()}"></td>
<!--                        <td><button class="button" type="button" onclick="location.href=''">編集</button></td>-->
<!--                        <td><button class="button" type="button" onclick="location.href=''">削除</button></td>-->
                      </tr>    
                </tbody>
            </table>   

<!-- ページネーション -->
                 <div th:if="${userPage.getTotalPages() > 1}" >
                     <nav aria-label="一覧ページ">
                         <ul class="pagination">
                             <li class="page-item">
                                 <span th:if="${userPage.isFirst()}" >前</span>
                                 <a th:unless="${userPage.isFirst()}" th:href="@{/admin/member(page = ${userPage.getNumber() - 1}, keyword = ${keyword})}" >前</a>
                             </li>
                             <li th:each="i : ${#numbers.sequence(0, userPage.getTotalPages() - 1)}" >
                                 <span th:if="${i == userPage.getNumber()}"  th:text="${i + 1}"></span>
                                 <a th:unless="${i == userPage.getNumber()}" th:href="@{/admin/category(page = ${i}, keyword = ${keyword})}"  th:text="${i + 1}"></a>
                             </li>
                             <li class="page-item">                        
                                 <span th:if="${userPage.isLast()}" >次</span>
                                 <a th:unless="${userPage.isLast()}" th:href="@{/admin/member(page = ${userPage.getNumber() + 1}, keyword = ${keyword})}" >次</a>
                             </li>
                         </ul>
                     </nav> 
                 </div>          

            </div>
        </main>

        <!-- フッター -->
        <footer class="footer">
           <p>NagoyaMeshi</p>
           <small>©NagoyaMeshi</small>
        </footer>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        

    </body>
</html>
