<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NagoyaMeshi</title>
        <meta name="description" content="店舗一覧">

        <!-- CSS -->
        
        <link rel="stylesheet" href="../css/style.css">

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/fc00afdc84.js" crossorigin="anonymous"></script>

    </head>
    <body>


        <!-- ヘッダー -->
        <header class="header">
          <div class="header-container">
              <h1><a href="">NagoyaMeshi</a></h1>
              <div class="button-container">
                <button class="button" type="button">ログイン</button>
                <button class="button" type="button">会員登録</button>
              </div>
            </div>
        </header>

        <!-- メイン -->
        <main>
          <!-- shop-list-content -->
          <div class="shop-list-content">
            <!--breadcrumb--> 
            
              <nav>
                <ol class="breadcrumb">
                  <li><a href="/">ホーム</a></li>
                  <li><a href="/.../">2層目</a></li>
                  <li>現在のページ</li>
                </ol>
              </nav>
            
          <!--main-contents-->  
          <div class="main-contents">

            <!--sideber-->    
            <div class="sidebar">
              <div class="side-container">
                <form class="form1" id="form1" action="自分のサイトURL">
                  <input id="sbox"  id="s" name="s" type="text" placeholder="キーワードを入力" />
                  <input id="sbtn" type="submit" value="検索" />
                </form>

                <p>カテゴリー別検索</p>

                <form class="form2" action="#">
                  <select name="example2" size="1">
                    <option value="">5つの選択肢を表示</option>
                    <option>選択肢のサンプル2</option>
                    <option>選択肢のサンプル3</option>
                    <option>選択肢のサンプル4</option>
                    <option>選択肢のサンプル5</option>
                    <option>選択肢のサンプル6</option>
                    <option>選択肢のサンプル7</option>
                  </select>
                  <input type="submit" value="検索" />
                </form>

              </div>
            </div>

           <!--main--> 
           <div class="shop-contents">

              <div class="shop-list-container">
                
                <div class="shop-list-item">
                  <a href="リンク先のファイルパス"></a>
                  <div class="shop-list-body">
                    <img src="..\images\image4.jpg">
                    <div class="shop-list-text">
                      <h3>店舗名</h3>
                        <div class="category-body">
                          <div class="category-tag"><p>カテゴリー</p></div>
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div>      
                        </div>
                        <div class="review"><p>☆☆☆☆☆</p></div>
                        <div class="review-text"><P>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</P></div>
                    </div>
                  </div>
                </div>

                <div class="shop-list-item">
                  <a href="リンク先のファイルパス"></a>
                  <div class="shop-list-body">
                    <img src="..\images\image4.jpg">
                    <div class="shop-list-text">
                      <h3>店舗名</h3>
                        <div class="category-body">
                          <div class="category-tag"><p>カテゴリー</p></div>
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div>      
                        </div>
                        <div class="review"><p>☆☆☆☆☆</p></div>
                        <div class="review-text"><P>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</P></div>
                    </div>
                  </div>
                </div>

                <div class="shop-list-item">
                  <a href="リンク先のファイルパス"></a>
                  <div class="shop-list-body">
                    <img src="..\images\image4.jpg">
                    <div class="shop-list-text">
                      <h3>店舗名</h3>
                        <div class="category-body">
                          <div class="category-tag"><p>カテゴリー</p></div>
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div>      
                        </div>
                        <div class="review"><p>☆☆☆☆☆</p></div>
                        <div class="review-text"><P>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</P></div>
                    </div>
                  </div>
                </div>

                <div class="shop-list-item">
                  <a href="リンク先のファイルパス"></a>
                  <div class="shop-list-body">
                    <img src="..\images\image4.jpg">
                    <div class="shop-list-text">
                      <h3>店舗名</h3>
                        <div class="category-body">
                          <div class="category-tag"><p>カテゴリー</p></div>
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div>      
                        </div>
                        <div class="review"><p>☆☆☆☆☆</p></div>
                        <div class="review-text"><P>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</P></div>
                    </div>
                  </div>
                </div>

                <div class="shop-list-item">
                  <a href="リンク先のファイルパス"></a>
                  <div class="shop-list-body">
                    <img src="..\images\image4.jpg">
                    <div class="shop-list-text">
                      <h3>店舗名</h3>
                        <div class="category-body">
                          <div class="category-tag"><p>カテゴリー</p></div>
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div> 
                          <div class="category-tag"><p>カテゴリー</p></div>      
                        </div>
                        <div class="review"><p>☆☆☆☆☆</p></div>
                        <div class="review-text"><P>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</P></div>
                    </div>
                  </div>
                </div>

              </div>

              </div> 

              </div>
            </div>
          </main>

        <!-- フッター -->
        <footer class="footer">
           <p>NagoyaMeshi</p>
           <small>©NagoyaMeshi</small>
        </footer>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        

    </body>
</html>
